{% extends 'shop/basic.html' %}
{% load crispy_forms_tags %}
{% block title %} Reset-Blog App {% endblock title %}
{% block body %}
<div class="container">
<div class="content-section">
    <div class="col-md-6 col-sm-12 sign-in">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom">Password Reset Now</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn-upper btn btn-primary checkout-page-button" type="submit">Reset Password</button>
        </div>
    </form>
</div>
</div>
</div>
{% endblock body %}