{% extends 'shop/basic.html' %}
{% load crispy_forms_tags %}
{% block title %} Login-Blog App {% endblock title %}
{% block body %}
<div class="container">
<div class="row col-md-6">
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom">Request Password Reset</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn-upper btn btn-primary checkout-page-button" type="submit">Reset</button>
        </div>
    </form>
</div>
</div>
</div>
{% endblock body %}